.offers {
  width: 80%;
  height: 60vh;
  display: flex;
  margin: auto;
  padding: 0px 140px;
  padding-top: 35px;
  margin-bottom: 150px;
  margin-top: 30px;
  background-image: url("C:\Users\lohan\OneDrive\Desktop\Programming\E-commerce\src\modules\assets\materials\offer_img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 600px;
}
.offers.offer-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.offer-left h1 {
  color: #f3efef;
  font-size: 80px;
  font-weight: 600;
}

.offer-left p {
  color: #f0ebeb;
  font-size: 22px;
  font-weight: 600;
}

.offer-left button {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background: #b4aeb4;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
}
.offer-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
  width: 100%;
  height: auto;
}
