.main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  /* background-image: url('C:\Users\lohan\OneDrive\Desktop\Programming\E-commerce\src\modules\assets\front.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
}
.main video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left {
  border-color: white;
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2vw;
  color: white;
  width: 50%;
  justify-content: center;
  padding-top: 10%;
  text-align: center;
  height: 80%;
}
.bottom {
  position: absolute;
  color: white;
  width: 100%;
  padding: 20px;
  bottom: 7%;
  text-align: center;
}
