.list-product {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.format-main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
}

.format-main p {
  text-align: center;
  margin: 0;
}

.allproducts {
  margin-top: 10px;
}

.list-product-format {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.product-icon {
  width: 100%; /* Set image width to fill the column */
  height: auto; /* Maintain aspect ratio */
}

.remove-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.list-product {
  align-items: center;
  font-weight: 500;
}

/* .product-icon {
  height: 80px;
} */

.remove-icon {
  cursor: pointer;
  margin: auto;
}

.allproducts {
  overflow-y: auto;
}

@media (max-width: 800px) {
  .list-product {
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    padding: 10px 30px;
    margin: 20px auto;
  }
  .format-main {
    padding: 15px 0px;
    color: #454545;
    font-size: 12px;
  }
  .product-icon {
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .format-main {
    grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
  }

  .list-product-format {
    grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .format-main {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Single column on smaller screens */
  }

  .list-product-format {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Single column on smaller screens */
  }
}
