.newsletter {
  width: 90%;
  max-width: 800px;
  height: auto;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  margin-bottom: 150px;
  background-image: url("/assets/newsletter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  gap: 20px;
  text-align: center;
}

.newsletter h1 {
  color: #f4ecec;
  font-size: 2.5rem;
  font-weight: 600;
}

.newsletter p {
  color: #f4efef;
  font-size: 1.2rem;
}

.newsletter .input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 100%;
  max-width: 500px;
  height: 50px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
  overflow: hidden;
}

.newsletter input {
  flex: 1;
  padding: 0 20px;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.newsletter button {
  width: 140px;
  height: 100%;
  border: none;
  border-radius: 80px;
  background: rgb(193, 198, 198);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .newsletter h1 {
    font-size: 1.8rem;
  }

  .newsletter p {
    font-size: 1rem;
  }

  .newsletter .input {
    flex-direction: column;
    height: auto;
    border-radius: 10px;
    padding: 10px;
  }

  .newsletter input {
    width: 100%;
    margin-bottom: 10px;
  }

  .newsletter button {
    width: 100%;
    height: 40px;
  }
}
