.newsletter {
  width: 56%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px 14px;
  margin-bottom: 150px;
  background-image: url("C:\Users\lohan\OneDrive\Desktop\Programming\E-commerce\src\modules\assets\materials\newsletter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  gap: 30px;
}

.newsletter h1 {
  color: #f4ecec;
  font-size: 45px;
  font-weight: 600;
}

.newsletter p {
  color: #f4efef;
  font-size: 20px;
}

.newsletter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 430px;
  height: 50px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
}

.newsletter input {
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #ebd9b9;
  font-family: poppins;
  font-size: 16px;
}


.newsletter div button {
  margin-top: 0px;
  width: 190px;
  height: 50px;
  border-radius: 80px;
  background: rgb(193, 198, 198);
  color: white;
  font-size: 16px;
  cursor: pointer;
}
