@font-face {
  font-family: PP mori;
  src: url(./ppmori.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PP mori;
  color: #160c0c;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #150909;
  color: rgb(5, 14, 14);
}
