/* @font-face {
  font-family: PP mori;
  src: url(./ppmori.ttf);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: PP mori, "Playfair Display", serif;
  color: #160c0c;
  width: 100%;
  height: 100%;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #150909;
  color: rgb(5, 14, 14);
}
