
.parent {
  margin-top: 3px;
    display: flex;
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
     /* Full viewport height */
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 150px;
    background: linear-gradient(180deg, #fde1ff 20%, #e1ffea22 90%);
    margin: auto; /* Center the container horizontally */
  }
  

.first, .second ,.third{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-self:center;
    flex-wrap:wrap;
    max-width: 300px;
    height: 50px;
    align-self: center;
    width:100%;
    margin:auto;
    border-radius: 5px;
    
}

.container h1{
  color: #171717;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
select {
  width: 100%; 
  padding: 10px; 
  border-radius: 15px; 
  border: none; 
  font-size: 16px;
  box-sizing: border-box; 
  background-color: rgb(193, 208, 213); 
  color: white; 
}

  